*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
:root{
    --demo-color: #207398:
}
.scrolleff{
    padding: 15px 80px;
    color: #fff;
    position: fixed;
    top: 0;
    width: 90%;
    background-image: linear-gradient(rgb(10, 11, 22),transparent);
}
.food-header{
    background-image: url(../images/main-cover.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}
.class-flex-sb{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.class-flex-cen{
    justify-content: center;
    display: flex;
    align-items: center;
}
.logo{
    font-size: 30px;
}
#lgdes{
    font-weight: 800;
    color: #214b47;
}
.links{
    text-decoration: none;
}
ul li{
    list-style: none;
    margin-right: 20px;
    font-weight: 600;
    font-size: 18px;
}
ul li a{
    text-decoration: none;
    color: #fff;
    transition: 0.5s;
}
ul li a:hover{
    color: #118377;
}
ul li:last-child a{
    padding: 5px 15px;
    background-image: linear-gradient(#0f867a,#118377);
    border-radius: 5px;
    transition: 0.5s;
}
ul li:last-child a:hover{
    background-image: linear-gradient(#f2fffe,#fff);
}


/*---------------------------------------- start of the header------------------------------------------------ */

header img{
    width: 100%;
    height: 100vh;
}

.main-card{
    background-color: #fff;
    padding: 30px;
    border-radius: 9px;
    position: absolute;
    top: 25%;
    left: 15%;
    display: flex;
    flex-direction: column;
}
.main-card a{
    width: 50%;
    padding: 5px 15px;
    background-image: linear-gradient(#0f867a,#118377);
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    border-radius: 5px;
    transition: 0.5s;
}
.main-card a:hover{

    background-image: linear-gradient(#14aa9b,#15a496);
}












